@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate SC', serif;
}

body{
    background-color: rgb(140, 145, 145);
}

.header{
    width: 100%;
    padding: 20px;
    background-color: rgb(227, 228, 227);
    color:rgb(121, 124, 124);
    /* font-size: 5vw; */
    text-align: center;
    letter-spacing: 2px;
}

.cards-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item{
    margin: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgb(51, 51, 51);
    transition: 1s;
}

.card-item:hover{
    transform: scale(1.1);
}

.card-item img{
    border-radius: 10px 10px 0 0;
}

.card-info{
    margin: 10px;
}

.card-title{
    color:rgb(140, 145, 145);
    letter-spacing: 1.5px;
}

.card-name{
    padding: 2px 0;
    letter-spacing: 0.5px;
}

button{
    padding: 3px;
    letter-spacing: 0.5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
}


@media screen and (max-width: 540px) {
    .header{
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    .header{
        font-size: 16px;
    }
}